:root{ --primary-color : #FCA5A5;
    
      
       --background-color:white;

}



.topnav{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    background-color: dimgray;
   
    padding-top: 1rem;
}
.topnav a{
    
    padding-left: 1.5rem;
    color:white;
    text-decoration: none;
    font-size: 2rem;
    padding-bottom: 0rem;
    
    background-color: dimgray;
}
.topnav .active{
    color:var(--primary-color);}
.header{
    padding:2rem;
    
}
.aboutimg{
    padding-top: 4rem;
   display: block;
   width: 100%;
   max-width: 350px;
   margin: auto;
}
.hero .hero-image{
    padding-top: 4rem;
   display: block;
   width: 100%;
   max-width: 350px;
   margin: auto;
   

    
}   
.hero .hero-text{
    font-family: "Gill Sans", sans-serif;;
    font-size: 2 rem;
    text-align : center;
    padding-top: 1rem;
    color: dimgray;

}
.abouttext{
    font-family: "Gill Sans", sans-serif;;
    font-size: 3.5 rem;
    text-align : center;
    padding-top: 1rem;
    color: dimgray;
    background-color:white; display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
 .skills{
     list-style: none;
 }
 .skills .li1{
     padding-top:1rem;
 }
 .skills .li2{
    padding-top:1rem;
}
.skills .li3{
    padding-top:1rem;
}
.skills .li4{
    padding-top:1rem;
    display:block;
}
.workh1{
font-family: "Gill Sans", sans-serif;;
    font-size: 2 rem;
    text-align : center;
    padding-top: 1rem;
    color: dimgray;
}
.p1{
    
    background-color: dimgray;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

}
.p2{
    background-color: dimgray;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.g1{
    background-color: dimgray;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.g2{
        background-color: dimgray;
        text-decoration: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
}
.footer{
            
            
           
            background-color: dimgray;
           text-align: center;
            
           
          
            
            padding: 2rem 1rem; 
            
            width: 100%; 
            border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
     
            height: 70px; 
              
}
.blogimg{
    padding-top: 4rem;
   display: block;
   width: 100%;
   max-width: 350px;
   margin: auto;
}
.project-section{
   background-color:  dimgrey;
   color: white;
   border-radius: 1rem 1rem 1rem 1rem;
   max-width: 100%;
   font-family: "Gill Sans", sans-serif;;
    font-size: 3.5 rem;
    text-align : center;
    padding-top: 1rem;
     display: block;
    
}
.blogsection{
    background-color:  white;
    color: dimgrey;
    border-radius: 1rem 1rem 1rem 1rem;
    max-width: 100%;
    font-family: "Gill Sans", sans-serif;;
     font-size: 3.5 rem;
     text-align : center;
     padding-top: 1rem;
      display: block;}
      .contactsection{background-color:  dimgrey;
        color: white;
        border-radius: 1rem 1rem 1rem 1rem;
        max-width: 100%;
        font-family: "Gill Sans", sans-serif;;
         font-size: 3.5 rem;
         text-align : center;
         padding-top: 1rem;
          display: block;
         

      }
.project-section .projectimg{
    display: block;
   width: 100%;
   max-width: 350px;
   margin: auto;
}
.blogsection .blogimg{
    display: block;
   width: 100%;
   max-width: 350px;
   margin: auto;

}
.contactsection .contactimg{
    display: block;
   width: 100%;
   max-width: 350px;
   margin: auto;
}
